.historial {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: auto;
}

.tagStyle {
  display: flex;
  height: 40px;
  margin-top: 10px;
  align-items: center;
  width: 90%;
}
